{#
/**
 * @file
 * Display Suite 2 column template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - attributes: layout attributes
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - left: content of left region
 * - right: content of right region
 */
#}
<div class="stat">
  <div class="stat_number">
{% if left.field_image_attribution_2 is not empty  %}<span class="pre">{{ left.field_pre_number|field_value }}{% endif %}<span class="num">{{ left.field_number|field_value }}</span>{% if left.field_post_number is not empty  %}<span class="post">{{ left.field_post_number|field_value }}</span>{% endif %}
  </div>
  <div class="content">
    {{ right.body|field_value }}
  </div>
</div>
