//Buttons

.learnmore {
  @include bodycopy_M($black, $bold: true);
  text-decoration: none;

  &:after {
    @include iconfont(inherit, "\3e");
    font-size: 1.25rem;
    vertical-align: -5px;
    position: relative;
    right: 0;
    display: inline-block;
    transition: 0.3s;
  }
  &:hover {
    text-decoration: none;
    &:after {
      transform: translate(3px, 0);
    }
  }
}

.btn-group {
  .btn {
    margin-right: 1em;
  }
}

.btn {
  background-color: $maroon;
  border: solid 2px $maroon;
  border-radius: 0;
  color: $white;
  @include font($sans-serif-font, 1rem, $white, $sans-serif-semibold, 1rem);
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-property: color, transform, background-color;
  //transition-delay: 0s, 0s, 0.3s;

  &:hover {
    background-color: $white;
    color: $plum;
  }

  //this applies to all icons
  &:after,
  &:before {
    font-size: 1.25rem;
    vertical-align: -5px;
    position: relative;
    right: 0;
    display: inline-block;
    transition: 0.1s;
  }

  &.external:after,
  &.arrow-right:after,
  &.arrow-down:after {
    margin-left: 10px;
  }

  &.external {
    &:after {
      @include iconfont(inherit, "\77");
    }
    &:hover:after {
      transform: translate(2px, -2px);
    }
  }

  &.arrow-right {
    &:after {
      @include iconfont(inherit, "\3e");
    }
    &:hover:after {
      transform: translate(3px, 0);
    }
  }

  &.arrow-down {
    &:after {
      @include iconfont(inherit, "\67");
    }
    &:hover:after {
      transform: translate(0, 3px);
    }
  }

  &.arrow-left {
    &:before {
      font-size: 1.25rem;
      @include iconfont(inherit, "\3c");
      margin-right: 10px;
    }
    &:hover:before {
      transform: translate(-3px, 0);
    }
  }

  &.secondary {
    background-color: $gold;
    border-color: $gold;
    color: $plum;

    &:hover {
      border-color: $maroon;
      background-color: $white;
    }
  }

  &.tertiary {
    background-color: $white;
    border-color: $plum;
    color: $plum;

    &:after {
      color: $maroon;
    }

    &:hover {
      border-color: $black;
      background-color: lighten($black, 85%);
    }
  }

  &.quaternary {
    background-color: $white;
    border-color: $divider-gray;
    color: $plum;

    &:after {
      color: $maroon;
    }
    &:hover {
      border-color: $maroon;
    }
  }

  &.text {
    border: 0;
    background-color: transparent;
    color: $plum;
    position: relative;
    padding-left: 0;

    &:hover {
      color: $maroon;
    }
  }

  &.primary {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px $maroon;
    color: $plum;
    padding: 0 0 2px;
    margin: 0.75rem 0;
    transition-duration: 0.2s;

    &:hover {
      border-color: $black;
      color: $black;
      transform: scale(1.05);
    }
  }
}

// LINK LIST

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0 !important;
    a {
      border-bottom: solid 2px $maroon;
      display: inline-block;
      @include font($serif-font, 1rem, $black, $serif-regular, 1rem);
      padding-bottom: 2px;
      text-decoration: none;
      margin: $baseline/2 0;

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        border-color: $black;
      }
    }

    &:before {
      display: none;
    }
  }
}

// STATS

.stat_number {
  text-align: center;
  span {
    vertical-align: top;
  }
  .num {
    @include font(
      $sans-serif-font,
      $baseline * 4,
      $black,
      $sans-serif-semibold,
      $baseline * 4
    );
  }
  .pre,
  .post {
    @include font(
      $sans-serif-font,
      $baseline * 2,
      $black,
      $sans-serif-semibold,
      $baseline * 3
    );
  }
}

.stat {
  align-items: center;
  border-bottom: solid 1px $divider-gray;
  border-top: solid 1px $divider-gray;
  display: flex;
  padding: $baseline * 3 0;
  @include clearfix();

  .stat_number {
    @include make-md-column(3);
    span {
      color: $maroon;
    }
  }

  .content {
    @include make-md-column(9);
    @include bodycopy_M($black, $bold: false);
    font-style: italic;

    p {
      margin-bottom: 0;
    }
  }
}

// THREE UP PROMO

.three-up-promo {
  display: block;

  @include screen("tablet") {
    display: flex;
  }

  .col {
    margin-bottom: $baseline * 3;

    @include screen("tablet") {
      flex: 1;
      .bottom {
        text-align: center;
      }
    }

    .top {
      text-align: center;

      .stat:after {
        @include dash($maroon, 8px, $baseline * 3, $position: true);
        bottom: -$baseline;
      }
    }

    .bottom {
      padding: $baseline * 2 $baseline * 2 $baseline * 3;

      h3 {
        @include heading_S($maroon);
        margin-top: 0;
      }
    }

    // background colors
    &:nth-child(odd) {
      background-color: $bg-02;

      .top {
        background: linear-gradient(180deg, $white 50%, $bg-02 50%);
      }
    }
  }
}

// CTA

.cta,
.cta_full {
  background-color: $bg_03;
}

.cta {
  padding: $baseline * 1.5 0;
  @include make-sm-column(8);

  @include screen("tablet") {
    display: flex;
    align-items: center;
  }

  .content {
    @include make-sm-column(8);
    a.btn {
      padding-left: 0;
    }
  }
  figure.cta_photo {
    @include make-sm-column(4);
  }
}

.cta_full {
  padding: $baseline * 3 0;

  .row {
    @include screen("tablet") {
      display: flex;
      align-items: center;
    }
  }

  .wrapper {
    @include make-container();

    .content {
      @include make-sm-column(5);
      @include make-sm-column-pull(1);
    }

    figure.cta_photo {
      @include make-sm-column(3);
      @include make-sm-column-push(7);
    }
  }
}
.cta_aos {
  background-color: $maroon;
  @include clearfix();
  padding: $baseline * 2 0;
  overflow: hidden;

  @include screen("tablet") {
    background-color: transparent;
  }
  @include screen("tablet-wide") {
    padding: $baseline * 3 0 0;
  }
  @include screen("desktop") {
    padding: $baseline * 4 0 0;
  }
  @include screen("desktop-wide") {
    padding: $baseline * 5 0 0;
  }
  @include screen("desktop-wide") {
    padding: $baseline * 5 0 0;
  }

  .wrapper {
    @include make-container();

    figure {
      @include make-sm-column(6);
      @include make-lg-column(4);
      //margin-right: $baseline*4;
    }

    .content {
      @include make-sm-column(6);
      @include make-lg-column(8);
      background-color: $maroon;
      padding: $baseline * 2 $baseline $baseline;
      margin-top: -$baseline;
      @include screen("tablet") {
        margin-top: -$baseline * 2;
        padding: $baseline * 3 $baseline * 2 $baseline * 2;
      }
      @include screen("tablet-wide") {
        margin-top: -$baseline * 3;
        padding: $baseline * 4 $baseline * 3 $baseline * 3;
      }
      @include screen("desktop") {
        margin-top: -$baseline * 4;
        padding: $baseline * 5 $baseline * 4 $baseline * 4;
      }
      @include screen("desktop-wide") {
        margin-top: -$baseline * 5;
        padding: $baseline * 6 $baseline * 4 $baseline * 4;
      }
      &:before {
        @include screen("tablet") {
          background-color: $maroon;
          content: "";
          height: calc(100% + 1rem);
          position: absolute;
          right: 0;
          width: $baseline * 1000;
          top: 0;
          z-index: -1;
        }
        @include screen("desktop") {
          height: calc(100% + 2rem);
        }
        @include screen("desktop-wide") {
          height: calc(100% + 4rem);
        }
      }

      &:after {
        @include screen("tablet") {
          background-color: $bg-05;
          content: "";
          position: absolute;
          height: 150%;
          left: -15px;
          bottom: -100%;
          width: $baseline * 1000;
          z-index: -5;
        }
      }

      h3,
      p {
        color: $white;
      }
      h3 {
        @include bodycopy_XL($white, $bold: true);
        margin-bottom: $baseline * 1.5;
      }
      a.learnmore {
        color: $mustard;
      }
    }
  }
}

// Bio's

.bio {
  .bio_headshot {
    float: left;
    @include make-sm-column(2);
  }
  .headshot {
  }
  .bio_content {
    @include make-sm-column(6);
    .bio_name {
      margin: $baseline/2 0 $baseline * 1.5;
      .name {
        @include bodycopy_L($black, $bold: true);
      }
      .title {
        @include bodycopy_L($black, $bold: false);
        display: block;
      }
    }
  }
}

// Student Profile

.story_profile {
  @include make-sm-column(12);
  @include make-md-column(8);
  @include make-lg-column(6);
  background-color: $bg_02;
  margin-bottom: 2rem;
  padding: $baseline * 2;

  @include screen("tablet") {
    &.sp_right {
      float: right;
      margin-left: $baseline * 3;
      margin-right: -16.66667%;
    }

    &.sp_left {
      float: left;
      margin-left: -16.66667%;
      margin-right: $baseline * 3;
    }
  }

  h3 {
    @include heading_S($black);
    margin: 0 0 $baseline * 2;
  }

  dl {
    margin-bottom: 0;

    @include screen("tablet") {
      dt,
      dd {
        float: left;
      }
    }

    dt {
      @include bodycopy_M($black, $bold: true);
      clear: left;
      font-weight: bold;
      margin-bottom: $baseline;

      @include screen("tablet") {
        margin-right: 5%;
        width: 30%;
      }
    }

    dd {
      @include bodycopy_M($black, $bold: false);
      margin-bottom: $baseline;
      width: 65%;
      p {
        margin-bottom: 0 !important;
      }
    }
  }
}

// Related Content Block

.related_content_block {
  @include make-row();
  @include make-sm-column(6);
  @include make-md-column(5);
  margin-bottom: $baseline * 2;

  &.right {
    float: right;
    @include screen("tablet") {
      margin-left: $baseline;
      padding-left: $baseline;
    }
    @include screen("tablet-wide") {
      border-left: solid 1px $divider-gray;
      margin-right: -16.66667%;
      margin-left: $baseline * 2;
      padding-left: $baseline * 2;
    }
  }

  &.left {
    float: left;

    @include screen("tablet") {
      margin-right: $baseline;
      padding-right: $baseline;
    }

    @include screen("tablet-wide") {
      border-right: solid 1px $divider-gray;
      margin-left: -16.6667%;
      margin-right: $baseline * 2;
      padding-right: $baseline * 2;
    }
  }
  .img {
    background-color: $bg-02;
    margin-bottom: $baseline * 3;
    padding: $baseline;
    position: relative;
    text-align: center;
    // this might not be needed - unless we want to make the icon editable via css
    svg {
      fill: currentColor;
      color: $maroon;
    }

    .category {
      background-color: $white;
      bottom: -40px;
      padding: $baseline/2;
      position: absolute;
      left: 0;

      .category_name {
        background-color: white;
        @include utility_XS($black);
        left: -18px;
        position: relative;
        padding: 2px;
        top: -12px;
      }
    }
  }
  .content {
    h4 {
      @include heading_XS($black);
      margin-bottom: $baseline;
    }
  }
}
