// NOE FONT
@font-face {
  font-family: "Noe Text";
  src: url("#{$ucpe-font-path}/NoeText-Bold.eot");
  src: url("#{$ucpe-font-path}/NoeText-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("#{$ucpe-font-path}/NoeText-Bold.woff2") format("woff2"),
    url("#{$ucpe-font-path}/NoeText-Bold.woff") format("woff"),
    url("#{$ucpe-font-path}/NoeText-Bold.ttf") format("truetype"),
    url("#{$ucpe-font-path}/NoeText-Bold.svg#NoeText-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noe Text";
  src: url("#{$ucpe-font-path}/NoeText-Semibold.eot");
  src: url("#{$ucpe-font-path}/NoeText-Semibold.eot?#iefix")
      format("embedded-opentype"),
    url("#{$ucpe-font-path}/NoeText-Semibold.woff2") format("woff2"),
    url("#{$ucpe-font-path}/NoeText-Semibold.woff") format("woff"),
    url("#{$ucpe-font-path}/NoeText-Semibold.ttf") format("truetype"),
    url("#{$ucpe-font-path}/NoeText-Semibold.svg#NoeText-Semibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Noe Text";
  src: url("#{$ucpe-font-path}/NoeText-RegularItalic.eot");
  src: url("#{$ucpe-font-path}/NoeText-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("#{$ucpe-font-path}/NoeText-RegularItalic.woff2") format("woff2"),
    url("#{$ucpe-font-path}/NoeText-RegularItalic.woff") format("woff"),
    url("#{$ucpe-font-path}/NoeText-RegularItalic.ttf") format("truetype"),
    url("#{$ucpe-font-path}/NoeText-RegularItalic.svg#NoeText-RegularItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Noe Text";
  src: url("#{$ucpe-font-path}/NoeText-Regular.eot");
  src: url("#{$ucpe-font-path}/NoeText-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("#{$ucpe-font-path}/NoeText-Regular.woff2") format("woff2"),
    url("#{$ucpe-font-path}/NoeText-Regular.woff") format("woff"),
    url("#{$ucpe-font-path}/NoeText-Regular.ttf") format("truetype"),
    url("#{$ucpe-font-path}/NoeText-Regular.svg#NoeText-Regular") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

//UCPE ICON FONTS VIA http://fontastic.me/

@font-face {
  font-family: "ucpe_icons";
  src: url("#{$ucpe-font-path}/ucpe_icons.eot");
  src: url("#{$ucpe-font-path}/ucpe_icons.eot?#iefix")
      format("embedded-opentype"),
    url("#{$ucpe-font-path}/ucpe_icons.woff") format("woff"),
    url("#{$ucpe-font-path}/ucpe_icons.ttf") format("truetype"),
    url("#{$ucpe-font-path}/ucpe_icons.svg#ucpe_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ucpe_icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ucpe_icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin iconfont($color, $content) {
  font-family: "ucpe_icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color;
  content: $content;
}

.icon-arrow-right:before {
  content: "\3e";
}
.icon-camera:before {
  content: "\63";
}
.icon-search:before {
  content: "\73";
}
.icon-linkedin:before {
  content: "\6c";
}
.icon-add:before {
  content: "\61";
}
.icon-added:before {
  content: "\62";
}
.icon-apple:before {
  content: "\64";
}
.icon-calendar:before {
  content: "\47";
}
.icon-chevron-down:before {
  content: "\67";
}
.icon-close-circle:before {
  content: "\68";
}
.icon-close:before {
  content: "\69";
}
.icon-download:before {
  content: "\6a";
}
.icon-dropdown-down:before {
  content: "\6b";
}
.icon-dropdown-up:before {
  content: "\5e";
}
.icon-remove:before {
  content: "\2d";
}
.icon-play:before {
  content: "\50";
}
.icon-pause:before {
  content: "\70";
}
.icon-office:before {
  content: "\71";
}
.icon-linkedin-circle:before {
  content: "\4c";
}
.icon-instagram-circle:before {
  content: "\49";
}
.icon-graduation:before {
  content: "\65";
}
.icon-facebook-circle:before {
  content: "\46";
}
.icon-external-link:before {
  content: "\77";
}
.icon-expand:before {
  content: "\78";
}
.icon-error:before {
  content: "\79";
}
.icon-email-circle:before {
  content: "\7a";
}
.icon-email-1:before {
  content: "\41";
}
.icon-social-facebook:before {
  content: "\42";
}
.icon-instagram:before {
  content: "\43";
}
.icon-twitter:before {
  content: "\44";
}
.icon-success:before {
  content: "\59";
}
.icon-twitter-circle:before {
  content: "\54";
}
.icon-arrow-left:before {
  content: "\3c";
}
.icon-bullet:before {
  content: "\2022";
}
.icon-chevron-right:before {
  content: "\66";
}
