// PHOTOS

// Headshot Photos

.headshot {
  display: block;
  border-radius: 50%;
  width: $baseline * 5;
  height: $baseline * 5;
  position: relative;
  margin-bottom: $baseline * 2;
  @include screen("tablet") {
    margin-bottom: $baseline * 4;
  }

  img {
    border-radius: 50%;
    max-width: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: $gold;
    display: block;
    top: -$baseline/4;
    left: -$baseline/4;
    border-top-left-radius: $baseline * 5 + $baseline/2;
    border-bottom-left-radius: $baseline * 5 + $baseline/2;
    width: $baseline * 2.875;
    height: $baseline * 5 + $baseline/2;
  }

  figcaption {
    @include bodycopy_S($black, $bold: false);
    margin-top: $baseline;
    text-align: center;
  }
}

// video embeds

.video {
  @include video();
}

//content images

// These styles are specifically for the stories - we might need to make a trigger for these styles
figure {
  .img {
  }
  figcaption {
    margin-top: $baseline;
  }

  &.story_img {
    @include make-row();
    margin-top: $baseline * 2;
    margin-bottom: $baseline * 2;

    @include screen("tablet") {
      margin-left: -16.66667%;
      margin-right: -16.66667%;
    }

    &.full {
      .img {
        @include make-sm-column(12);
      }
      figcaption {
        @include make-sm-column(6);
      }
    }

    &.left,
    &.right {
      .img {
        @include make-sm-column(8);
      }
      figcaption {
        @include make-sm-column(4);
      }
    }

    &.right {
      .img {
        @include make-sm-column-push(4);
      }
      figcaption {
        @include make-sm-column-pull(8);
      }
    }
  }

  &.content_img {
    @include make-row();
    @include make-sm-column(8);
    @include make-md-column(7);
    margin-bottom: $baseline * 2;

    &.right {
      float: right;
      @include screen("tablet") {
        margin-left: $baseline;
        padding-left: $baseline;
      }
      @include screen("tablet-wide") {
        border-left: solid 1px $divider-gray;
        margin-right: -16.66667%;
        margin-left: $baseline * 2;
        padding-left: $baseline * 2;
      }
    }

    &.left {
      float: left;

      @include screen("tablet") {
        margin-right: $baseline;
        padding-right: $baseline;
      }

      @include screen("tablet-wide") {
        border-right: solid 1px $divider-gray;
        margin-left: -16.6667%;
        margin-right: $baseline * 2;
        padding-right: $baseline * 2;
      }
    }
  }
}
