::selection {
  background: $mustard; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $mustard; /* Gecko Browsers */
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: $sans-serif-font;
}

a {
  color: $primary-link-color;
  text-decoration: underline;

  &:hover {
    color: darken($primary-link-color, 5%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font;
}

h1 {
  //@include heading_XL($maroon);
  //span {@include heading_XL($maroon);}
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p,
p:last-child,
p:last-of-type {
  @include font(
    $sans-serif-font,
    $baseline,
    $black,
    $sans-serif-regular,
    $baseline * 1.5
  );
  margin-bottom: $baseline * 1.5;
}

ol,
ul {
  margin: $baseline 0;
  //padding: 0 ;
  list-style: none;

  li {
    padding: 0 0 0 $baseline * 1.5;
    @include font($sans-serif-font, 1rem, $black, $sans-serif-regular, 1.5rem);
    position: relative;

    &:before {
      font-size: 1rem;
      left: 0;
      position: absolute;
    }

    ul {
      margin: $baseline/2 0;
      padding: 0;

      li:before {
        @include iconfont($black, "\66");
      }
    }
  }
}

ul li {
  margin: 0 0 $baseline/2;

  &:before {
    @include iconfont($maroon, "\2022");
    top: 3px;
  }
}

ol {
  counter-reset: ucpe_counter;
  li {
    counter-increment: ucpe_counter;

    &:before {
      content: counter(ucpe_counter) ".";
      color: $maroon;
      font-weight: $sans-serif-semibold;
    }
  }
}

blockquote {
  border-left: 0;
  margin: $baseline * 3 0;
  padding: 0;

  .q {
    border-left: 4px $salmon solid;
    padding-left: $baseline * 3.5;
    font-style: $italic;

    p {
      @include font(
        $serif-font,
        $baseline * 1.625,
        $black,
        $serif-regular,
        $baseline * 2.5
      );
    }

    footer {
      @include bodycopy_M($black, $bold: false);
      font-style: normal;
    }
  }

  //with headshot
  &.w_hs {
    figure {
      margin-left: auto;
      margin-right: auto;
    }

    @include screen("phablet") {
      display: flex;
      figure {
        flex: 0 0 $baseline * 5;
      }
    }

    .q {
      border-left: 0;
      padding-left: 0;
      @include screen("phablet") {
        padding-left: $baseline * 3.5;
      }
    }
  }

  &.link {
    .headshot {
      margin-bottom: $baseline * 4;
    }

    a {
      font-style: normal;
      @include bodycopy_M($black, $bold: true);
      padding-bottom: 2px;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        &:after {
          padding-left: $baseline/2;
        }
      }

      &:after {
        @include iconfont(inherit, "\66");
        font-size: 1.5rem;
        vertical-align: middle;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
  }
}

dt,
dd {
}

dt {
}

dd {
}

strong,
thead,
dt {
}

// OFFSET ANY STYLES THAT AFFECT THE MENU background
#toolbar-administration {
  font-size: 12px !important;
}
ul.toolbar-menu,
nav.tabs ul.nav-tabs {
  li {
    margin: 0;
    padding-left: inherit;
    &:before {
      display: none;
    }
    ul li:before {
      display: none;
    }
    a {
      font-size: 14px !important;
    }
  }
}
