html {
  -webkit-font-smoothing: antialiased;
}

* {
  font-family: $sans-serif-font;
}

a {
  color: $primary-link-color;
  text-decoration: underline;

  &:hover {
    color: darken($primary-link-color, 5%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif-font;
}

h1 {
  @include font($serif-font, 5rem, blue, $semi-bold, 5rem);
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

p {
}

ol,
ul {
  li {
  }
}

dt,
dd {
}

dt {
}

dd {
}

strong,
thead,
dt {
}
